.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    color: #49fb35;
}

.main{
    display: flex;
    flex-direction: row;
}

.info{
    color: #49fb35;
    width: 40%;
    text-align: center;
    padding-left: 8%;
}

.image{
    margin-left: auto;
}

.pic{
    height: auto;
    float: right;
    padding-right: 10%;
    padding-bottom: 5%;
    border-radius: 50%;
    width: 60%;
}

.job1, .job2{
    color: #49fb35;
    border-radius: 15%;
    padding: 10px;
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.job{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.jobi{
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.works {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

li{
    text-align: left;
}

.title{
    padding: 10px;
}