.inf{
    color: #49fb35;
}

h2{
    color: white;
}

.projects{
    display: flex;
    flex-direction: row;
}

.p1{
    border: 1px solid #49fb35;
    width: 28%;
    margin: 5%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.p2{
    border: 1px solid #49fb35;
    width: 28%;
    margin: 5%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.p3{
    border: 1px solid #49fb35;
    width: 28%;
    margin: 5%;
    padding-bottom: 2%;
    border-radius: 10px;
}

.p1,.p2,.p3 h2{
    height: 25%;
}

.pm{
    text-align: center;
    background-color: #0e0e0e;
}

.netflix{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 758px) {
    .projects{
        display: inline-block;
        text-align: center;
    }

    .p1,.p2,.p3{
        width: 50%;
        margin-left: 25%;
        height: auto;
        padding: 4%;
    }
}